body{
  background-image: url("https://images.pexels.com/photos/2765872/pexels-photo-2765872.jpeg");
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
}
